<!-- src/app/components/register/register.html -->
<h2>Inscription</h2>
<form (ngSubmit)="register()" #registerForm="ngForm">
  <label>Nom :</label>
  <input type="text" [(ngModel)]="user.name" name="name" required>
  
  <label>Email :</label>
  <input type="email" [(ngModel)]="user.email" name="email" required>
  
  <label>Mot de passe :</label>
  <input type="password" [(ngModel)]="user.password" name="password" required>
  
  <button type="submit" [disabled]="registerForm.invalid">S’inscrire</button>
</form>

<p *ngIf="message">{{ message }}</p>